
<article>
  <% if @recipes != nil %>
    <% @recipes.each do |recipe| %>
    <section class="row">
    <div class="small-3 columns large-3 columns">
      <p><%= link_to(image_tag(recipe.image), image_path(recipe_path(recipe.id)) ) %></p>
      <p><%= link_to "#{recipe.title}", link_selector(recipe) %></p>
    </div>
    </section>
    <% end %>

  <% end %>
</article>
<p>
  This is the recipes#index page
</p>
