
<article>
  <% if @recipes != nil %>
    <% listing = 1 %>
    <section class="row">
    <% @recipes.each do |recipe| %>
      <div class="small-12 medium-3 end columns results">
        <%= "#{listing}" %>
        <p><%= link_to(image_tag(recipe.image), image_path(recipe_path(recipe)) ) %></p>
        <p><%= link_to "#{recipe.title}", link_selector(recipe) %></p>
      </div>
        <% listing +=1 %>
    <% end %>
  </section>
  <% end %>
</article>
<p>
  This is the recipes#search page
</p>
