<main class=row>
  <article class="small-12 large-10 columns">
    <% if @recipes != nil %>
    <section class="row">
      <% @recipes.in_groups_of(3) do |line| %>
      <% line.each do |recipe| %>
      <div class="large-3 medium-4 small-12 columns end">
        <% if !recipe.nil? %>
        <p><%= link_to(image_tag(recipe.image), image_path(recipe_path(recipe.uri)), target: '_blank') %></p>
        <p class="txt-box"><%= link_to "#{recipe.title}", recipe_path(recipe.uri), target: '_blank' %></p>
        <% end %>
      </div>
      <% end %>
      <% end %>
    </section>
    <% end %>
  </article>
  <article class="small-12 large-10 columns">

        <%= render partial: "page_buttons", locals: { q: @query, page: @page } %>

  </article>
</main>
<!-- <p>
This is the recipes#search page
</p> -->
